/*---------------- Configuração base das páginas ----------------*/
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
/*---------------------------------------------------------------*/

/*---------------- Classes de uso geral ----------------*/
.textos-centralizados {
    text-align: center;
}

.margin-top-40 {
    margin-top: 100px;
}
/*---------------------------------------------------------------*/

/*---------------- Container: Cabeçalho ----------------*/
.container-cabecalho {
    text-align: left;
    padding: 20px;
    background-color: #1790BF;
}

.container-cabecalho h5 {
    text-align: center;
    font-weight: 600;
    font-size: 1.5em;
    color: white;
    margin-left: 300px;
    
    /*Usado para fixar o Menu no Topo do Header*/    
    position: fixed; 
        top: 90px;
        left: 250px;
        width: 800px;
        height: 50px;
}

.container-cabecalho .logo{
    margin-left: 300px;
    width: 150px; 
    height: 150px;    
}

/*---------------------------------------------------------------*/

/*---------------- Container: Menu ----------------*/
.container-menu{
    text-align: center;
    height: 60px;
    border: 2px solid white;
    background-color: #0C453D;
}

.container-menu button {
    margin-top: 15px;
    margin-left: 20px;
    background-color: #0C453D;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight:900;
    margin: 4px 2px;
    transition-duration: 0.5s;
    cursor: pointer;

}

button:hover {
    color: #00BE6C; 
    margin-left: 1px;
}
/*---------------------------------------------------------------*/

/*---------------- Container: Menu ----------------*/
.container-banner {
    border: 2px solid white;
}

.container-banner button {
    position:absolute;
    z-index:1;
    top:68%;
    left:24%;
    width: 250px;               /* largura para o botão */
    height:50px;              /* altura para o botão */
    padding:0;
    margin:-15px 0 0 -30px;   /* margem à esquerda e ao topo metade da medida do botão */
    border-radius: 15px;
    border:none;
    cursor: pointer;
    background-color: #1790BF;
    color: white;
    font-weight:900;
    font-size: large;
    
}

.container-banner i {
    position: absolute;
    left: 17px;
}

.container-banner button:hover {
    background-color: #00BE6C;
    transition-duration: 0.5s;
}